html, body {
  font-family:
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Helvetica Neue", Arial, sans-serif;
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 850px;
  }
}

.modal-fullwidth {
  max-width: 98% !important;
}

#directiveViewer iframe {
  width: 100%;
  height: 70vh;
  border: none;
}
#directiveViewer form input {
  margin: 0 0.25em;
  padding: 0.4em;
  width: 50%;
}
