body {
  width: 100% !important;
  max-width: 700px !important;
}
ins, del {
  text-decoration: none;
}
ins.diffins,
ins.diffmod {
  background-color: #a6f3a6;
}
del.diffdel,
del.diffmod {
  background-color: #f8cbcb;
}
/*del.diffdel {
  background-color: #ffecec;
}
ins.diffins {
  background-color: #eaffea;
}*/
