/*

Copyright c 2009 Xyleme, Inc., 2060 Broadway, Suite 250, Boulder, C0 80302 USA.
All rights reserved.

This file and related documentation are protected by copyright and
are distributed under licenses regarding their use, copying, distribution,
and decompilation. No part of this product or related documentation may
be reproduced or transmitted in any form or by any means, electronic or
mechanical, for any purpose, without the express written permission of
Xyleme, Inc.

*/

/* ---------------- GENERAL DEFINITIONS ----------------- */

/* 10pt -> 12px, 8pt -> 11px, 11pt -> 15px */

HTML {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
}

TEXTAREA {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
}

TABLE {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
}

INPUT, SELECT, BUTTON {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
}

INPUT[readonly] {
        color: #686868;
}       
        
